#footer{
    background-color: $body-color;
    padding: 20px 0;
    text-align: center;
    font-size: 1.2rem;
    color: $text-color;

    .footer__icons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        flex-wrap: wrap;
        gap: 2rem;

        a{
            color: $text-color;
        }
    }

    a{
        color: $text-color;
        font-size: 2rem;
    }
}