@media screen and (min-width: $low-mobile) and(max-width: $high-mobile) {
    body {
        font-size: $font-size-base;
    }
};

@media screen and (min-width: $low-tablet) and (max-width: $high-tablet) {
    body {
        font-size: $font-size-base * 1.05;
    }
};

@media screen and (min-width: $low-laptop) and (max-width: $high-laptop) {
    body {
        font-size: $font-size-base * 1.1;
    }
};

@media screen and (min-width: $low-desktop) and (max-width: $high-desktop) {
    body {
        font-size: $font-size-base * 1.15;
    }
};

@media screen and (min-width: $large-tv) {
    body {
        font-size: $font-size-base * 1.2;
    }
};