@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
};
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
        color: $text-color;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}