
// Typography
$line-height-base: 1.5;
$font-size-base: 1.25rem;

// Colors
$primary-bg: #202020;
$secondary-bg: #3F3F3F;

$primary-text: #fefefe;
$secondary-text: #707070;

$active-color: #FFDF6C;

$button-bg: transparent;

// Media Query Breakpoints Variables
$low-mobile : 320px;
$low-tablet: 481px;
$low-laptop: 769px;
$low-desktop: 1025px;
$large-tv: 1201px;