$hue: 350;
$sat: 98%;

$first-color: hsl($hue, $sat, 50%);
$title-color: hsl($hue, $sat - 20%, 50%);
$text-color: hsl($hue, $sat, 100%);
$span-color: hsl($hue, $sat, 75%);
$body-color: hsl($hue, 8%, 13%);;

$biggest-font-size: 2.5rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$normal-font-size: 1.25rem;
$small-font-size: 1rem;
$smaller-font-size: .813rem;