@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.background__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(45deg, rgba(54, 20, 20, 0.575) 0%, rgba(18, 47, 58, 0.753) 100%), url(../images/bg.webp);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

body {
  color: #ebebeb;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 320px) {
  body {
    font-size: 1.125rem;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  header hr {
    opacity: 0;
    -webkit-transform: all 0.5 ease-in-out;
            transform: all 0.5 ease-in-out;
  }
  h1 {
    text-align: center;
  }
  h1 .header__title-secondary {
    font-style: italic;
  }
  .nav__mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #F1F1F1;
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    list-style: none;
  }
  .nav__mobile ul .nav__item {
    padding: 0 1rem;
    color: #ebebeb;
  }
  .nav__mobile ul .nav__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #3F3F3F;
  }
  .nav__mobile ul .nav__item a:hover {
    color: #FFDF6C;
  }
  .nav__mobile ul .nav__item a i {
    height: auto;
    width: 50px;
  }
  .nav__desktop {
    display: none;
  }
  main {
    height: 85%;
  }
  #hero {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #hero h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ebebeb;
    margin-bottom: 0.2rem;
    opacity: 1;
  }
  #hero p {
    font-size: 1.25rem;
    color: #ebebeb;
    margin-bottom: 2rem;
    opacity: 0.8;
    max-width: 40ch;
  }
  #hero button {
    background: transparent;
    color: #ebebeb;
    border: solid 1px #ebebeb;
    padding: 0.5rem 1rem;
    max-width: 250px;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  #hero button:hover {
    background: #ebebeb;
    color: #3F3F3F;
  }
}

@media screen and (min-width: 769px) {
  body {
    font-size: 1.375rem;
  }
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 5rem;
    position: relative;
  }
  header hr {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: solid 1px #fff;
  }
  header h1 {
    width: 40%;
    text-align: left;
    margin-right: 2rem;
  }
  header .header__title-primary {
    font-size: 2rem;
    font-weight: 700;
  }
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    position: relative;
    width: auto;
    padding: 0 2rem;
    height: 5%;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .nav__desktop ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 80%;
    list-style: none;
  }
  .nav__desktop ul .nav__item {
    padding: 0 .25rem;
    color: #ebebeb;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding-left: 1rem;
  }
  .nav__desktop ul .nav__item a {
    color: #ebebeb;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav__desktop ul .nav__item a:hover {
    color: #FFDF6C;
  }
}

@media screen and (min-width: 1025px) {
  body {
    font-size: 1.4375rem;
  }
}

@media screen and (min-width: 1201px) {
  body {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */