@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200&display=swap");
.background__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  background-image: linear-gradient(45deg, rgba(6, 2, 29, 0.884) 0%, rgba(0, 18, 26, 0.884) 100%), url(../images/bg.webp);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.25rem;
  background-color: #050320;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
  color: #1c5ee3;
  line-height: 1.5;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  width: 100%;
}

.header {
  width: 100%;
  height: 10vh;
}

.header__wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
}

.header .header__logo-text {
  font-size: 2.5rem;
  font-weight: bold;
  width: auto;
}

.header span {
  font-style: italic;
}

.nav__menu {
  height: 100%;
  margin-left: 2rem;
  color: white;
  font-weight: bold;
  letter-spacing: .2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__menu .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.nav__menu a:hover {
  color: #0356fc;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.nav__menu .nav__burger {
  display: none;
}

hr {
  width: 80%;
  height: .2rem;
  background: #0356fc;
  margin: 0 auto;
  border: none;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    display: none;
  }
  .nav__burger {
    display: block;
  }
  .header__logo-text {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .nav__menu {
    display: none;
  }
  .nav__burger {
    display: block;
  }
  .header {
    width: 100%;
  }
  .header .header__logo-text {
    font-size: 1.75rem;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  height: 90vh;
  gap: 6rem;
}

.hero .hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero .hero__left .hero__title {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.hero .hero__left .hero__description {
  font-size: 1.5rem;
  color: white;
  max-width: 35ch;
}

.hero .hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto;
  width: 40%;
}

.hero .hero__right img {
  width: 350px;
  min-width: 200px;
  border: solid #0356fc 9px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px 6px black;
          box-shadow: 0px 0px 15px 6px black;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.hero__buttons .button {
  background-color: #0356fc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__buttons .button:hover {
  background-color: white;
  color: #0356fc;
}

.hero__buttons .button__contact {
  background-color: transparent;
  color: #0356fc;
  border: solid #0356fc 1px;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__buttons .button__contact:hover {
  background-color: #0356fc;
  color: white;
}

@media screen and (max-width: 1024px) {
  .hero {
    width: 100%;
  }
  .hero .hero__left .hero__title {
    font-size: 3rem;
  }
  .hero .hero__left .hero__description {
    font-size: 1.25rem;
  }
  .hero .hero__right {
    display: none;
  }
  .hero__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  #hero_title {
    font-size: 2rem;
  }
  body > main > section.hero.container > section.hero__left > p {
    font-size: 1rem;
  }
}

.projects {
  color: #0356fc;
}

.projects__title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #1c5ee3;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.projects__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  color: white;
  border: 1px solid #0356fc;
  border-radius: .25rem;
  padding: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.projects__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.projects__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.projects__item-title {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.projects__description {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.projects__link {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #0356fc;
}

.projects__info {
  font-size: 0.813rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.projects .button {
  color: white;
  border: #0356fc solid 1px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  min-width: 150px;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.projects .button:hover {
  background-color: #0356fc;
  color: white;
  border: #0356fc solid 1px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

@media screen and (max-width: 350px) {
  .container {
    min-width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */